html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }  
  h1{
      text-align: center;
      font-family: "Raleway","sans-seriff";
      font-feature-settings: "lnum";
  }
  h1 a{
    text-decoration: none;
    color: black;
  }

.main{
    display: flex;
    flex-direction: column;
    height: 800px;
    background-image: url("../image/incredibox/incrediboxback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 100px;
}
.twitterL,.youtubeL,.instaL,.tiktokL,.tumblrL{
    height: 100px;
    margin-top: 10px;
    margin-left: -20px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 300px; 
}
.googleP{
    height: 100px;
    margin-top: -10px;  
}
.amazonP{
    height: 200px;   
}
.appstoreP{
    height: 70px;
}
.steamP{
    height: 250px;  
}
.microsoftP{
    height: 85px;
}
.incrediP{
    display: flex;
    justify-content: space-around;
 
}

.logoP{
    height: 100px;
}
.h3incrediP{
    display: flex;
    justify-content: space-around;
    
}
.pincrediP{
    display: flex;
    justify-content: space-around;
    font-family: Raleway,"sans-seriff";
    font-feature-settings: "lnum";
}
.pincrediP text{
    border: 1px solid black;
    letter-spacing: .4px;
    margin-left:5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px
    
}
.presentation{
    margin-left: 10%;
    margin-bottom: 15px;
}
.infologo{
  display: flex;
  justify-content: space-around;
  height: 100px;
  margin-left: 30px;
 
}
.infoincredibox{
    display: flex;
    justify-content: space-evenly;
  
    
}

.infoincredibox p{
    font-size: 40px;
    letter-spacing: .4px;
    word-spacing: 15px; 
    margin-right: 5%;
}
.centrage{
    margin-right: 30px;
}




