
header{
    height: 250px;
    background-color: lightblue;
    margin-bottom: 40px;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
}
footer{
    height: 250px;
    background-color: mediumvioletred;
}
.parallelogramme1{
    display: flex;
	height:200px;
    background-color: orangered;
    background-image: url(image/dbz/);
    margin-bottom: 30px;
    margin-right: 10%;
   
}
.interpara{
    /* background-image: url(image/dbz/logodokkan.png); */
   height: 100px;
   width: 100px;
    background-color: white;   
}

.parallelogramme2{
    background-color: white;
    margin-bottom: 30px;
	margin-left: 10%;
	height:200px; 
}

.parallelogramme3{
	background-color: yellow;
    margin-right: 10%;
	height:200px; 
}
