html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }  

header{
    display: flex;
    background-color:#ff4501;
    height: 100px;
}
.titre{
    margin-left: 18%;
}

.logodokkan{
    height:100px;
    /* margin: 20px; */
}

body{
    background-color: black;
}


.imageGoku{
    margin-left: -40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.gokugauche{
    opacity: 0.6;
    height: 700px; 
}
.vegetadroite{
    margin-bottom: 15px;
    opacity: 0.6;
    height: 600px;
} 
.videoP{
    margin-bottom: 150px;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #ff4501;  
}
.imgshenron{
    height: 200px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-style:  'Oswald', sans-serif;
    font-family: 'Scheherazade New', serif;
    font-size: large;
    color: rgb(0, 255, 0);
}
p{
    color: white;
    font-size: 40px;
    border: solid orangered 2px;
    box-shadow: 10px 5px 5px orangered;
    margin-left: 20px;
    margin-right: 20px;
    
}
.presentaionD{
    display: flex;
   
    justify-content: space-evenly;
    height: 600px;
    

}
.equipeC{
    height: 500px;
    margin-top: 40px;
    box-shadow: 10px 5px 5px orangered;
}
.controle{
    height: 500px;
    margin-top: 40px;
    box-shadow: 10px 5px 5px orangered;
}
.combat{
    height: 500px;
    margin-top: 40px;
    box-shadow: 10px 5px 5px orangered;
}


